.account {
  display: flex;
  align-items: center;
}

.account__img {
  margin-right: 12px;
}

.account__text {
  margin: 0;
}

.account__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.01em;
}

.account__job-position {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}
